        <div id="footer" class="center clear">
			<ul class="nav nav-footer caps">
				<li><a href="/about.html" title="About &amp; contact information" tabindex="0">About <span class="amp">&amp;</span> Contact</a></li>
				<li><a href="/archives.html#cover" title="View the notebook entries" tabindex="0">Notebook</a></li>
			</ul>
			<span class="backtop floatRight"><a class="internal" href="#header" title="Return to the top of this page">Back to top &uarr;</a></span>
			<div class="page-meta clear">
				<div class="info">
					<span class="index">&#9758;</span><p class="vcard"><a href="/files/Stephen-Lange.vcf" title="Download Stephen Lange&rsquo;s addressbook vCard">Add me to your address book via vCard</a>.</p>
					<p class="licensing">For an overview of the site, see the <a href="/sitemap/" title="View the site map">site map</a> or <a href="/archives.html#cover" title="View the notebook archives">notebook archives</a>.</p>
					<p class="licensing">Journal content copyright &copy; Stephen Lange, 2013.</p>
					<p class="licensing"><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/2.5/au/" title="Content, unless specificed, licensed under a Creative Commons license">Some rights reserved</a>.</p>
<p>
					<p class="licensing">Full credit for this website's design is fully given to <a href="http://klepas.org/">klepas.org</a></p>
	
				</div>
			</div> <!-- /.page-meta.clear -->
		</div> <!-- /#footer.center.clear -->
