        <div id="header" class="center">
			<div class="logo floatLeft">
				<img width="442" height="573" alt="Wordsmithing Through Time." src="/images/ingsoc.gif" />
			</div>
			<div class="hero floatRight">
				<h1>
					<a href="/" title="Return to homepage" tabindex="0" accesskey="H">
						<span class="hoverline">Stephen</span><span class="middot">&middot;</span>L<span class="hoverline">ange</span>
					</a>
				</h1>
				<p class="moin">Welcome weary traveler.  What twists and turns have led you to my door?  Worry not, you are welcome here.  Stay as long as you like.</p>
				
				<p>Like most people my Work <span class="amp">&amp;</span> and Home Life tend to keep me pretty busy, but from time to time I do like to share my thoughts with others. This site is my way of doing just that.</p>
			</div>
			<div class="skip">
				<span>Straight to: <a href="/#notebook" title="Skip straight to the latest article" tabindex="0" accesskey="L">&sect; Latest article</a></span>
			</div>
		</div> <!-- /#header.center -->
