        <div id="header" class="center">
			<div class="logo floatLeft">
				<img width="442" height="573" alt="Wordsmithing Through Time." src="/images/print.png" />
			</div>
			<div class="hero floatRight">
				<h1>
					<a href="/" title="Return to homepage" tabindex="0" accesskey="H">
						<span class="hoverline">Stephen</span><span class="middot">&middot;</span>L<span class="hoverline">ange</span>
					</a>
				</h1>
				<p class="moin">Welcome to the website of <a href="/about.html#notebook" title="About Stephen Lange &amp; contact details" tabindex="0" accesskey="A">Stephen Lange</a>: by day I work as a humble Secur&shy;ity Architect, my nights are reserved for family <span class="amp">&amp;</span> friends.  My passions include: reading, android, coffee, hiking, Linux and Android.</p>
				<p>Like most people my work <span class="amp">&amp;</span> and home life tend to keep me pretty busy, but from time to time I do like to share my passions with others. This site is my way of doing just that.</p>
			</div>
			<div class="skip">
				<span>Straight to: <a href="/#notebook" title="Skip straight to the latest article" tabindex="0" accesskey="L">&sect; Latest article</a></span>
			</div>
		</div> <!-- /#header.center -->
